<launch>  
    <env name="GAZEBO_MODEL_PATH" value="$(find robot_autonomy)/models"/>
    <arg name="sim" default="true" />
    <arg name="gui" default="true" />
    <arg name="gmapping" default="true" />
    <arg name="rviz" default="" />
    <arg name="world" default="" />
    <!-- <arg name="detector" default="" />
    <arg name="navigator" default="" />
    <arg name="publish_state" default="true" /> -->
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />
    <arg name="extra_gazebo_args" default="--verbose"/>

    <rosparam param="sim"   subst_value="true">$(arg sim)</rosparam>
    <rosparam param="map"   >true</rosparam>
    <rosparam param="use_tf">false</rosparam>

<!-- ###### launch the robot and possible state publisher ############### -->
    <arg name="model" default="robot_autonomy" doc="model type robot_autonomy"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_autonomy)/urdf/$(arg model).urdf.xacro" if="$(eval '/' not in model)" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" unless="$(eval '/' not in model)" />

     <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_autonomy)/world/project_city.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    </include>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_autonomy)/rviz/$(arg rviz).rviz"/> -->
</launch>